/* Import Font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:wght@500;700&display=swap');

/* Import Font  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* max-width: 1200px; */
    
    font-family: 'Poppins', sans-serif;
}

/* Navbar design START  */
.navbar{
    width: 80%;
    margin: 0 auto;
}
.nav-title{
    margin: 50px 0;
    font-size: 24px;
    

}
/* ---Navbar design END---  */

/* Banner design START  */

.banner{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
}


.banner-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-left img {
    border: 20px solid #E02C6D;
}

.banner-right h1{
    font-size: 52px;
    font-weight: bold;
    line-height: 70px;

}

.influence-color{
    color: orange;
}

.banner-right p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600px;
    line-height: 24px;
}

.link-button{
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    background-color: #E02C6D;
    border: 3px solid #E02C6D;
    border-radius: 50px;
    cursor: pointer;
}
.fa-arrow-right{
    color: white;
    padding-left: 5px;
}
.link-button:hover{
    background-color: transparent;
    color: #E02C6D;
}

.link-button:hover .fa-arrow-right{
    color: #E02C6D;
}

/*--- Banner design END --- */

/* Popular Collection design START  */

.popular-collection{
    margin-top: 40px;
    width: 80%;
    margin: 0 auto;
    
}
.popular-collection-title h2{
    color: #3A3A3A;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}

.popular-collection-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 40px;
    justify-items: center;
    
    padding: 25px;
    border-radius: 10px;
}

.card{
    background-color: whitesmoke;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 10px 15px #AAAAAA;
}
.card-details-rating{
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.card-details-rating p{
    margin-left: 10px;
}


.fa-star{
    color: gold;
}

/*--- Popular Collection design END---  */

/* See More design START  */
.see-more-setup{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.see-more{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.see-more-button{
    padding: 10px 0;
    background-color: white;
    color: #E02C6D;
    border: none;
    font-size: 20px;
    
}
.fa-arrow-right.see-more{
    color: #E02C6D;
}

/*--- See More design END ---*/

/* Extra Part design START */

.extra-map{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 25px;
}
.map-details{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map-view{
    flex: 1;
}
.map-locate{
    color: #E02C6D;
    
}



/*--- Extra Part design END---  */

/* Footer design START  */

.footer{
    background-color:  #0A0826;
    color: white;
    text-align: center;
    padding: 50px;    
}
.icon{
    font-size: 25px;
    margin: 10px;
}








/*--- Footer design END --- */