/* Import Font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:wght@500;700&display=swap');

/* Import Font  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* max-width: 1200px; */
    width: 80%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

/* Navbar design START  */
.nav-title{
    margin: 50px 0;
    font-size: 24px;
    

}
/* ---Navbar design END---  */

/* Banner design START  */

.banner{
    display: flex;
   
}


.banner-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-left img {
    border: 20px solid #E02C6D;
}

.banner-right h1{
    font-size: 52px;
    font-weight: bold;
    line-height: 70px;

}

.influence-color{
    color: orange;
}

.banner-right p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600px;
    line-height: 24px;
}

.link-button{
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    background-color: #E02C6D;
    border: 3px solid #E02C6D;
    border-radius: 50px;
    cursor: pointer;
}
.fa-arrow-right{
    color: white;
    padding-left: 5px;
}
.link-button:hover{
    background-color: transparent;
    color: #E02C6D;
}

.link-button:hover .fa-arrow-right{
    color: #E02C6D;
}

/*--- Banner design END --- */

/* Popular Collection design START  */

.popular-collection{
    margin-top: 80px;
}
.popular-collection-title h2{
    color: #3A3A3A;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    margin-bottom: 60px;
}

.popular-collection-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 40px;
}

.card{
    
}













/*--- Popular Collection design END---  */

/* See More design START  */

/*--- See More design END ---*/

/* Extra Part design START */

/*--- Extra Part design END---  */

/* Footer design START  */

/*--- Footer design END --- */