/* Import Font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:wght@500;700&display=swap');

/* Import Font  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{    
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}

/* Navbar design START  */
.navbar{
    
}
.nav-title{
    margin: 50px 0;
    font-size: 24px;    

}
/* ---Navbar design END---  */

/* Banner design START  */

.banner{
    display: flex;
    margin-bottom: 80px;
}


.banner-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.banner-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #E02C6D;
    position: relative;
    
}
.banner-left img{
    height: 100%;
    width: 100%;
}
.main-image{
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s ease-in-out ;
}
.transition-image{
    top: 0;
    left: 0;
    opacity: 0;
    
}
.banner-left:hover .transition-image{
    opacity: 1;
}
.banner-left:hover .main-image{
    opacity: 0;
}


/* .transition-image:hover{
    opacity: 1;
} */

.banner-right h1{
    font-size: 52px;
    font-weight: bold;
    line-height: 70px;

}

.influence-color{
    color: orange;
}

.banner-right p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600px;
    line-height: 24px;
}

.link-button{
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    background-color: #E02C6D;
    border: 3px solid #E02C6D;
    border-radius: 50px;
    cursor: pointer;
}
.fa-arrow-right{
    color: white;
    padding-left: 5px;
}
.link-button:hover{
    background-color: transparent;
    color: #E02C6D;
}

.link-button:hover .fa-arrow-right{
    color: #E02C6D;
}

/*--- Banner design END --- */

/* Popular Collection design START  */

.popular-collection{
    margin-top: 40px;
}
.popular-collection-title h2{
    color: #3A3A3A;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}

.popular-collection-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 40px;
    justify-items: center;    
    padding: 25px;
    border-radius: 10px;
}
.card{
    background-color: whitesmoke;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 10px 15px #AAAAAA;
}
.card-details h3{
    font-size: 28px;
}
.card-details-price{
    font-size: 24px;
    padding: 5px 0;
}
.card-details-text{
    font-size: 14px;
    color: #787885;
}

.card-details-rating{
    display: flex;
    justify-content: start;
    align-items: baseline;
    margin-bottom: 5px;
}

.card-details-rating p{
    margin-left: 10px;
}


.fa-star{
    color: gold;
}

/*--- Popular Collection design END---  */

/* See More design START  */
.see-more-setup{
    margin-bottom: 20px;
}
.see-more{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.see-more-button{
    padding: 10px 0;
    background-color: white;
    color: #E02C6D;
    border: none;
    font-size: 20px;
    
}
.fa-arrow-right.see-more{
    color: #E02C6D;
}

/*--- See More design END ---*/

/* Extra Part design START */

.extra-map{
    display: flex;
    margin-top: 30px;
    font-size: 25px;
}
.map-details{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map-view{
    flex: 1;
}
.map-locate{
    color: #E02C6D;
    
}



/*--- Extra Part design END---  */

/* Footer design START  */

.footer{
    background-color:  #0A0826;
    color: white;
    text-align: center;
    padding: 50px;    
}
.icon{
    font-size: 25px;
    margin: 10px;
}
/*--- Footer design END --- */



/* MOBILE RESPONSIVE START */

@media only screen and (max-width:688px){
    .navbar{
        width: 100%;
        text-align: center;
    }
    .banner{  
        display: flex;
        flex-direction: column;
    }
    .banner{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 80px;
        
    }
    .banner-right{
        flex: 1;
        justify-content: center;
        align-items: center;
        order: 1;
        margin-bottom: 36px;
    }
    .banner-left{
        flex: 1;
        height: 500px;
        order: 2;
    }

    .popular-collection{
        display: grid;
        margin: 0 auto;
        
    }
    .popular-collection-title{
        text-align: center;
    }
    .popular-collection-cards{
        grid-template-columns: repeat(1,1fr);
        align-items: center;
    }
    .see-more-setup{
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    .extra-map{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .map-text{
        align-items: center;
    }
    .footer{
        width: 100%;
    }
}

/* MOBILE RESPONSIVE END */

/* TAB/iPad RESPONSIVE START */

@media only screen and (min-width:688px) and (max-width:992px) {
    .navbar{
        width: 100%;
        text-align: center;
    }
    .banner{  
        display: flex;
        flex-direction: column;
    }
    .banner-right{
        flex: 1;
        justify-content: center;
        align-items: center;
        order: 1;
        margin-bottom: 36px;
    }
    .banner-left{
        flex: 1;
        height: 500px;
        order: 2;
    }

    .popular-collection{
        display: grid;
        
    }
    .popular-collection-title{
        text-align: center;
    }
    .popular-collection-cards{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    .see-more-setup{
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    .extra-map{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .map-text{
        align-items: center;
    }
    .footer{
        width: 100%;
    }
   
}

/* TAB/iPad RESPONSIVE END */
